<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Shows</title>
	{%load static%}
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

	<div class="container  py-3">

		{% if messages %}
		<ul class="messages">    
    		{% for message in messages %}    
        		<li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
    		{% endfor %}
		</ul>
		{% endif %}

		<div class="row">
			<div class="col-10">
				<h1 class="text-left">New Shows </h1>
			</div>
			<div class="col-2">
				<a href="/shows"><button class="btn btn-danger my-4"> Volver a Show</button></a>
			</div>
		</div>



		<form action="/shows/create" method="POST">
			{% csrf_token %}
			<div class="mb-3">
				<label class="form-label">Title</label>
				<input type="text" class="form-control" name="title" value="{{request.session.show_title}}">
			</div>

			<div class="mb-3">
				<label class="form-label">Network</label>
				<input type="text" class="form-control" name="network" value="{{request.session.show_network}}">
			</div>
			<div class="mb-3">
				<label class="form-label">Año Lanzamiento</label>
				<input type="date" class="form-control" name="release_date">
			</div>
			<div class="mb-3">
				<label class="form-label">Descripcion</label>
				<textarea class="form-control" rows="5" name="description">{{request.session.show_description}}</textarea>
			</div>
			<button type="submit" class="btn btn-primary">Agregar</button>
		</form>


	</div>

	<script src="{% static 'js/bootstrap.js' %}"></script>
</body>

</html>